<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" type="image/png" th:href="@{/vendor/pics/logo.png}" />

    <title>龙柏信息API说明文档界面</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link th:href="@{/vendor/sbAdmin2/css/sb-admin-2.css}" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <style>
        body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;overflow: hidden;}
    </style>
</head>

<body >
<!--style="overflow-y: scroll; overflow-x: scroll"-->

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">龙柏信息API使用说明</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <form th:action="@{/logout}" method="post">

                    <li><a type="submit" th:value="logout">
                        <i class="fa fa-sign-out fa-fw"></i></a>
                        <button type="submit" value="logout">注销</button>
                    </li>
                    </form>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <!--<li id="userInfo">-->
                        <!--<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 我的信息 </a>-->
                    <!--</li>-->

                    <li id="apiInfo">
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> API基本信息 </a>
                    </li>

                    <li id="apiList">
                        <a href="#"><i class="fa fa-credit-card-alt fa-fw"></i> API列表</a>
                    </li>

                    <li id="howToUse">
                        <a href="#"><i class="fa fa-credit-card-alt fa-fw"></i> API使用</a>
                    </li>

                    <li id="myAuthorities">
                        <a href="#"><i class="fa fa-credit-card-alt fa-fw"></i> 我的权限 </a>
                    </li>

                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-dashboard fa-fw"></i> API使用代码<span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-second-level">-->
                            <!--<li id="howToUseInJava">-->
                                <!--<a href="#"><i class="fa fa-user fa-fw"></i> Java使用</a>-->
                            <!--</li>-->
                            <!--<li id="howToUseInPython">-->
                                <!--<a href="#"><i class="fa fa-user fa-fw"></i> Python使用 </a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
                    <!--</li>-->


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" style="padding-left: 0px;">
        <!-- <div class="container-fluid"> -->
        <iframe id="iframeMapping" src=""   width='100%' height='100%' frameborder='0'></iframe>
        <!-- </div> -->
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/vendor/sbAdmin2/js/sb-admin-2.js}"></script>


<script type="text/javascript">
    $('#apiInfo').bind('click',function(){
        $('#iframeMapping').attr('src','apiInfo');
    });
    $('#apiList').bind('click',function(){
        $('#iframeMapping').attr('src','apiList');
    });
    $('#howToUse').bind('click',function(){
        $('#iframeMapping').attr('src','apiInstruction');
    });
   $('#myAuthorities').bind('click',function(){
       $('#iframeMapping').attr('src','myAuthorities');
   });
//    $('#howToUseInJava').bind('click',function(){
//        $('#iframeMapping').attr('src','/instruction/useInJava');
//    });
//    $('#uploadUserInfo').bind('click',function(){
//        $('#iframeMapping').attr('src','/instruction/useInPython');
//    });
</script>


</body>

</html>